/* Sidebar Styling */
/* Shared styles with sidebar.css */

/* Journey Styling */
.journey-container {
  /* border: var(--border); */
  position: relative;
  overflow: auto;
}

.step-connector {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.journey-container-steps-wrapper {
  left: -2rem;
  /* To align with logo */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 9rem;
  padding-top: 0.5rem;
}

.journey-step-card {
  width: fit-content;
  max-width: 60%;
  text-align: center;
  padding: 1.5rem;
  border: var(--border);
  border-radius: var(--radius-rounded);
  background: var(--background-transparent);
}

.journey-step-card:hover {
  border: var(--border-hover);
}

.journey-step-card,
.journey-step-card * {
  cursor: grab;
}

.journey-step-card:active,
.journey-step-card:active * {
  cursor: grabbing;
}

/* ------------------------------------------- */
/* Small screen styles */
@media screen and (max-width: 600px) {
  .journey-step-card {
    padding: 0.5rem;
    max-width: 50%;
  }

  .journey-container-steps-wrapper {
    left: 0;
  }
}

/* Interests Styling */
.interests-container {
  /* border: var(--border); */
  padding-top: 1rem;
  position: relative;
  overflow: hidden auto;
  height: 100%;
}

.interests-container::-webkit-scrollbar {
  display: none;
}

.interests-container-carousel-track {
  display: flex;
  height: 100%;
}

.interests-container-carousel-track * {
  cursor: grab;
}

.interests-container-carousel-track:active * {
  cursor: grabbing;
}

.interests-container-carousel-card {
  min-width: 100%;
  padding: 3rem;
  background: var(--background-transparent);
  border-left: var(--border);
  border-right: var(--border);
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quote-text {
  display: block;
  animation: colorswap var(--animation-fast) infinite alternate ease-in-out;
}

.interests-container-carousel-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.interests-container-carousel-card:hover {
  border-top: var(--border-hover);
  border-bottom: var(--border-hover);
}

.arrow-left,
.arrow-right {
  position: fixed;
  top: 50%;
  font-size: calc(var(--font-size-lg) + 3rem) !important;
  background: var(--background-transparent);
  animation: glowDimmed var(--animation-fast) ease-in-out infinite;
  z-index: 1;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.arrow-left:hover,
.arrow-right:hover {
  background: none;
  animation: none;
  opacity: 1;
}

.interests-container-carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 100;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--hover-color);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background: var(--primary-color);
}

/* ------------------------------------------- */
/* Small screen styles */
@media screen and (max-width: 600px) {
  .interests-container {
    padding-top: 1rem;
  }

  .interests-container-carousel-card {
    padding: 1rem;
  }

  .interests-container-carousel-card-text.global-text-md {
    font-size: calc(var(--font-size-md) + 1rem);
    margin-bottom: 3rem;
  }

  .interests-container-carousel-card-text.global-text-base {
    font-size: calc(var(--font-size-base) + 1rem);
    line-height: 3rem !important;
  }
}

/* Skills Styling */
.skills-container {
  /* border: var(--border); */
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  align-self: center;
  overflow: auto;
}

.skills-container::-webkit-scrollbar {
  display: none;
}

.skills-container-card {
  position: sticky;
  top: 0;
  min-height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-left: var(--border);
  border-right: var(--border);
  background: var(--background-transparent);
}

.skills-container-card strong {
  animation: colorswap var(--animation-fast) infinite alternate ease-in-out;
}

.skills-container:hover .skills-container-card {
  border-top: var(--border-hover);
  border-bottom: var(--border-hover);
}

.scroll-down,
.scroll-up {
  position: absolute;
  background: none;
  font-size: calc(var(--font-size-lg) + 3rem) !important;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
  animation: glowDimmed var(--animation-fast) ease-in-out infinite;
  user-select: none;
}

.scroll-down:hover,
.scroll-up:hover {
  animation: none;
  transform: translate(-50%);
}

/* ------------------------------------------- */
/* Small screen styles */
@media screen and (max-width: 600px) {
  .skills-container-card {
    padding: 1rem;
  }
}

/* Tools Styling */
.tools-container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.tools-container-scroll-driver {
  flex: 1;
  overflow-y: scroll;
}
.tools-container-scroll-space {
  height: 0;
  /* JS will set dynamically */
}
.tools-container-scroll-driver::-webkit-scrollbar,
.tools-container::-webkit-scrollbar {
  display: none;
}
.tools-container:hover .tools-container-card {
  border-top: var(--border-hover);
  border-bottom: var(--border-hover);
}
.tools-container-cards-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.tools-container-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  background: var(--background-transparent);
  border-left: var(--border);
  border-right: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tools-container-card.is-current {
  opacity: calc(1 - var(--p));
  transform: translate(-50%, -50%) scale(calc(1 + var(--p)));
}
.tools-container-card.is-next {
  opacity: var(--p);
  transform: translate(-50%, -50%) scale(calc(0.5 + 0.5 * var(--p)));
}
.tools-container-card.is-hidden {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}
.tools-container-card.is-locked {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.tools-container-card strong {
  animation: colorswap var(--animation-fast) infinite alternate ease-in-out;
}
/* ------------------------------------------- */
/* Small screen styles */
@media screen and (max-width: 600px) {
  .tools-container-card {
    padding: 1rem;
  }
}